<h1>Questa è la nostra homepage</h1>
<!-- inserisco embedded ruby che ha lo stesso effetto del tag <a> e richiamo la pagina di about-->
<p><%= link_to "Clicca qui" , about_path %> per saperne di più</p>
<!--<p><a href="https://lacerba.io"> Clicca qui</a> per saperne di più </p>-->
