<!-- Nei file .erb(embedded Ruby) è possibile inserire del codice Ruby che verrà interpretato come html-->
<h1>Questa è la nostra homepage</h1>

<!--Inserimento link Clicca qui per collegamento ad altra pagina tramite html -->
<!--<p><a href="http://lacerba.io"> Clicca qui </a> per scoprire di più</p>-->
