@import  " materialize " ;

//Footer
/*Steaky footer sistema il footer in fondo alla pagina web*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
//Pagina registrations/new.html.erb
//Classe btn-devise per il bottone iscriviti
.btn-devise{
  	  width:100%; // larghezza bottone 100% colonna l6
  	  background-color:#ffc107;
  }
  