<!--file parziale -->
<!--Inserimento codice footer -->
<footer class="page-footer blue-grey darken-2">
	<div class="footer-copyright">
	    <div class="container">
	    	<!--Inserisco 3 colonne (S4) per inserire copyright,social ed About -->
	    	<div class="row">
				<div class="col s4">
	    			© 2020 Lacerba.io
				</div>
				<div class="col s4">
				    Social
				</div>
				<div class="col s4">
	    			<%= link_to "About" , about_path, class: "grey-text text-lighten-4 right" %>
				</div>
			</div>
	    </div>
	</div>
</footer>