<ul class="sidenav" id="mobile-demo">
	<% if user_signed_in? %>
	  <li><%= link_to "Log Out",  destroy_user_session_path, method: :delete %></li> <!-- Richiama il metodo cancellare(:method :delete)-->    
	<% else%> 
	  <li><%= link_to "Log In",  new_user_session_path%></li>
	  <li><%= link_to "Registrazione",  new_user_registration_path%></li>
	<% end %>
</ul>